In [42]:
import pandas as pd
import datetime

In [20]:
df = pd.read_csv("data_old/Channel_Volume.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Location          8468 non-null   int64
 1   Industry          8468 non-null   object
 2   Edition           8468 non-null   int64
 3   Category          8464 non-null   object
 4   Subcategory       8468 non-null   object
 5   Hierarchy_Level   8468 non-null   int64
 6   Data_Type         8468 non-null   object
 7   Outlet            8468 non-null   object
 8   Outlet_Hierarchy  8468 non-null   int64
 9   Unit              8468 non-null   object
 10  Year_text         8468 non-null   int64
 11  Year_date         8468 non-null   object
 12  Volume            8468 non-null   object
dtypes: int64(5), object(8)
memory usage: 860.2+ KB

In [21]:
df[df.duplicated()]

Empty DataFrame
Columns: [Location, Industry, Edition, Category, Subcategory, Hierarchy_Level, Data_Type, Outlet, Outlet_Hierarchy, Unit, Year_text, Year_date, Volume]
Index: []

In [22]:
df.isnull().sum()

Location            0
Industry            0
Edition             0
Category            4
Subcategory         0
Hierarchy_Level     0
Data_Type           0
Outlet              0
Outlet_Hierarchy    0
Unit                0
Year_text           0
Year_date           0
Volume              0
dtype: int64

In [23]:
df[df['Category'].isnull()]

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
603,6,Alcoholic Drinks,2022,NaN,Wine,1,Off-trade Volume,Small Grocery Retailers,3,million litres,2010,"Friday, 31 December 2010","120,5453744"
1974,3,Alcoholic Drinks,2022,NaN,Beer,1,Off-trade Volume,Hypermarkets,3,million litres,2019,"Tuesday, 31 December 2019","2353,577788"
2986,5,Alcoholic Drinks,2022,NaN,Cider/Perry,1,Off-trade Volume,Warehouse Clubs,3,000 litres,2010,"Friday, 31 December 2010","7,811885045"
7547,5,Alcoholic Drinks,2022,NaN,Cider/Perry,1,Off-trade Volume,Non-Store Retailing,1,000 litres,2017,"Sunday, 31 December 2017","0,028513974"

In [24]:
df[df["Subcategory"] == 'Wine'].head()

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
420,1,Alcoholic Drinks,2022,Wine,Wine,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,"Monday, 31 December 2007","461,6393164"
421,1,Alcoholic Drinks,2022,Wine,Wine,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,"Wednesday, 31 December 2008","450,0888569"
422,1,Alcoholic Drinks,2022,Wine,Wine,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,"Thursday, 31 December 2009","455,6077957"
423,1,Alcoholic Drinks,2022,Wine,Wine,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,"Friday, 31 December 2010","462,1293323"
424,1,Alcoholic Drinks,2022,Wine,Wine,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,"Saturday, 31 December 2011","467,4633239"

In [25]:
df[df["Subcategory"] == 'Beer'].head()

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,"Monday, 31 December 2007","2613,845506"
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,"Wednesday, 31 December 2008","2513,025824"
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,"Thursday, 31 December 2009","2421,088595"
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,"Friday, 31 December 2010","2422,128432"
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,"Saturday, 31 December 2011","2439,33622"

In [26]:
df[df["Subcategory"] == 'Cider/Perry'].head()

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
105,1,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Food/drink/tobacco specialists,3,000 litres,2007,"Monday, 31 December 2007","1,490922408"
106,1,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Food/drink/tobacco specialists,3,000 litres,2008,"Wednesday, 31 December 2008","1,372390266"
107,1,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Food/drink/tobacco specialists,3,000 litres,2009,"Thursday, 31 December 2009","1,315863411"
108,1,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Food/drink/tobacco specialists,3,000 litres,2010,"Friday, 31 December 2010","1,26964939"
109,1,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Food/drink/tobacco specialists,3,000 litres,2011,"Saturday, 31 December 2011","1,252933261"

In [33]:
df.Category.fillna(df["Subcategory"], inplace=True)

In [34]:
df[df['Category'].isnull()]

Empty DataFrame
Columns: [Location, Industry, Edition, Category, Subcategory, Hierarchy_Level, Data_Type, Outlet, Outlet_Hierarchy, Unit, Year_text, Year_date, Volume]
Index: []

In [40]:
df.Unit.unique()

array(['million litres', '000 litres'], dtype=object)

In [46]:
pd.to_datetime(df["Year_text"])

0      1970-01-01 00:00:00.000002007
1      1970-01-01 00:00:00.000002008
2      1970-01-01 00:00:00.000002009
3      1970-01-01 00:00:00.000002010
4      1970-01-01 00:00:00.000002011
                    ...
8463   1970-01-01 00:00:00.000002017
8464   1970-01-01 00:00:00.000002018
8465   1970-01-01 00:00:00.000002019
8466   1970-01-01 00:00:00.000002020
8467   1970-01-01 00:00:00.000002021
Name: Year_text, Length: 8468, dtype: datetime64[ns]