In [2]:
import pandas as pd

df = pd.read_csv("data_old/Market_Sizes.csv")
df = df.dropna()
df = df.drop(
    columns=[
        "Industry",
        "Data_Type",
        "Edition",
        "Currency_Conversion",
        "Current_Constant",
        "Unit",
        "Year_date",
        "Year_minus_2016",
        "Year_minus_2022",
    ]
)

df = df.rename(columns={"RSP": "RSP_USD_Mnl"})
df.to_csv("data_new/Market_Sizes.csv", index=False)

In [3]:
df = pd.read_csv("data_old/Channel_Volume.csv")
df.dropna()
df["Volume"] = [float(str(i).replace(",", ".")) for i in df["Volume"]]
df.loc[df["Unit"] == "million litres", "Volume"] = df["Volume"] * 1000
df = df.drop(
    columns=["Category", "Unit", "Industry", "Edition", "Data_Type", "Year_date"]
)
df = df.rename(columns={"Volume": "Volume_Kl", "Year_text": "Year"})

df.to_csv("data_new/Channel_Volume.csv", index=False)

In [12]:
df = pd.read_csv("data_old/Company_Share_GBO_unit.csv", sep=";")
df = df.dropna()
df["Volume"] = [float(str(i).replace(",", ".")) for i in df["Volume"]]
df = df.drop(columns=["Unit", "Industry", "Data_Type", "Year_minus_2016", "Year_date"])
df = df.rename(columns={"Year_text": "Year", "Volume": "Volume_Kl"})
df["Volume_Kl"] = [float(str(i).replace(",", ".")) for i in df["Volume_Kl"]]
df = df.astype(
    {
        "Location": "int",
        "Subcategory_ID": "int",
        "Hierarchy_Level": "int",
        "Year": "int",
    }
).round({"Location": 1, "Subcategory_ID": 1, "Hierarchy_Level": 1, "Year": 1})
df.to_csv("data_new/Company_Share_GBO_unit.csv", index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21668 entries, 1 to 43335
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            21668 non-null  int64
 1   Subcategory_ID      21668 non-null  int64
 2   Hierarchy_Level     21668 non-null  int64
 3   Global_Brand_Owner  21668 non-null  object
 4   Year                21668 non-null  int64
 5   Volume_Kl           21668 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.2+ MB

In [25]:
df = pd.read_csv("data_old/Locations.csv", delimiter=";")
df = df.dropna(axis=1)
df.to_csv("data_new/Locations.csv", index=False)

In [21]:
df = pd.read_csv("data_new/Company_Share_GBO_unit.csv")
df2 = pd.read_csv("data_new/Subcategories.csv")
df2 = df2.merge(df, left_on="id", right_on="Subcategory_ID")
df2 = df2[["id", "Category", "Name", "Subcategory_ID", "Hierarchy_Level"]]
df2.drop_duplicates(subset=["Subcategory_ID"], inplace=True)
df2.to_csv("data_new/Subcategories2.csv")

,Location,Subcategory_ID,Hierarchy_Level,Global_Brand_Owner,Year,Volume_Kl
0,8,13,1,Anheuser-Busch InBev NV,2016,35506.377320
1,8,13,1,Heineken NV,2016,18482.595800
2,8,13,1,Carlsberg A/S,2016,11121.698680
3,8,13,1,Dragonyte Brewery,2016,6252.382590
4,8,13,1,Tsingtao Brewery Co Ltd,2016,7834.494901
...,...,...,...,...,...,...
21663,8,15,1,Central European Distribution Corp (CEDC),2016,223.024726
21664,8,15,1,Hubei Zhijiang Distillery Co Ltd,2016,78.555881
21665,8,15,1,Rosspirtprom FGUP,2016,3.708014
21666,8,15,1,Private Label,2016,307.766367
21667,8,15,1,Others,2016,8263.549123

In [ ]:
import pandas as pd

df = pd.read_csv("data_new/Market_Sizes.csv")
df.loc[(df["RSP_USD_Mnl"] < df["Volume"]), "RSP_USD_Mnl"] = df["RSP_USD_Mnl"] * 100
df.to_csv("data_new/Market_Sizes2.csv")