In [27]:
import pandas as pd

df = pd.read_csv("data_old/Market_Sizes.csv")
df = df.dropna()
df = df.drop(
    columns=[
        "Industry",
        "Data_Type",
        "Edition",
        "Currency_Conversion",
        "Current_Constant",
        "Unit",
        "Year_date",
        "Year_minus_2016",
        "Year_minus_2022",
    ]
)

df = df.rename(columns={"RSP": "RSP_USD_Mnl"})
df.to_csv("data_new/Market_Sizes.csv",index=False)

In [28]:
df = pd.read_csv("data_old/Channel_Volume.csv")
df.dropna()
df["Volume"] = [float(str(i).replace(",", ".")) for i in df["Volume"]]
df.loc[df["Unit"] == "million litres", "Volume"] = df["Volume"] * 1000
df = df.drop(
    columns=["Category", "Unit", "Industry", "Edition", "Data_Type", "Year_date"]
)
df = df.rename(columns={"Volume": "Volume_Kl", "Year_text": "Year"})

df.to_csv("data_new/Channel_Volume.csv",index=False)

In [29]:
df = pd.read_csv("data_old/Company_Share_GBO_unit.csv", sep=";")
df = df.dropna()
df["Volume"] = [float(str(i).replace(",", ".")) for i in df["Volume"]]
df = df.drop(columns=["Unit","Industry", "Data_Type", "Year_minus_2016", "Year_date"])
df = df.rename(columns={"Year_text": "Year", "Volume": "Volume_Kl"})
df["Volume_Kl"] = [float(str(i).replace(",", ".")) for i in df["Volume_Kl"]]
df.to_csv("data_new/Company_Share_GBO_unit.csv",index=False)
df

,Location,Subcategory_ID,Hierarchy_Level,Global_Brand_Owner,Year,Volume_Kl
1,8.0,13.0,1.0,Anheuser-Busch InBev NV,2016.0,35506.377320
3,8.0,13.0,1.0,Heineken NV,2016.0,18482.595800
5,8.0,13.0,1.0,Carlsberg A/S,2016.0,11121.698680
7,8.0,13.0,1.0,Dragonyte Brewery,2016.0,6252.382590
9,8.0,13.0,1.0,Tsingtao Brewery Co Ltd,2016.0,7834.494901
...,...,...,...,...,...,...
43327,8.0,15.0,1.0,Central European Distribution Corp (CEDC),2016.0,223.024726
43329,8.0,15.0,1.0,Hubei Zhijiang Distillery Co Ltd,2016.0,78.555881
43331,8.0,15.0,1.0,Rosspirtprom FGUP,2016.0,3.708014
43333,8.0,15.0,1.0,Private Label,2016.0,307.766367
43335,8.0,15.0,1.0,Others,2016.0,8263.549123

In [25]:
df = pd.read_csv("data_old/Locations.csv",delimiter =";")
df = df.dropna(axis = 1)
df.to_csv("data_new/Locations.csv",index=False)