In [1]:
import pandas as pd

df = pd.read_csv("data_old/Market_Sizes.csv")
df = df.dropna()
df = df.drop(
    columns=[
        "Industry",
        "Data_Type",
        "Edition",
        "Currency_Conversion",
        "Current_Constant",
        "Unit",
        "Year_date",
        "Year_minus_2016",
        "Year_minus_2022",
    ]
)

df = df.rename(columns={"RSP": "RSP_USD_Mnl"})
df.to_csv("data_new/Market_Sizes.csv")

In [7]:
df = pd.read_csv("data_old/Channel_Volume.csv")
# df.dropna()
df["Volume"] = [float(str(i).replace(",", ".")) for i in df["Volume"]]
df.loc[df["Unit"] == "million litres", "Volume"] = df["Volume"] * 1000
df = df.drop(
    columns=["Category", "Unit", "Industry", "Edition", "Data_Type", "Year_date"]
)
df = df.rename(columns={"Volume": "Volume_mnl", "Year_text": "Year"})

df.to_csv("data_new/Channel_Volume.csv")

In [8]:
df = pd.read_csv("data_old/Company_Share_GBO_unit.csv", sep=";")
df.dropna()
df = df.drop(columns=["Industry", "Data_Type", "Year_minus_2016", "Year_date"])
df = df.rename(columns={"Year_text": "Year", "Volume": "Volume_mnl"})
df["Volume_mnl"] = [float(str(i).replace(",", ".")) for i in df["Volume_mnl"]]
df.to_csv("data_new/Company_Share_GBO_unit.csv")

In [11]:
df = pd.read_csv("data_old/Locations.csv")
df

                id;0;1;0;2;0;3;0;4;0;5;0;6;0;7;0;8;0
0  Region;;Asia Pacific;;Australasia;;Eastern Eur...
1  Country;;Asia Pacific;;Australasia;;Eastern Eu...